In [4]:
import pandas as pd

In [5]:
FILEPATH = "../../csv/metrics/ETHUSD-600-20210401-20210630"

In [6]:
FILENAME_DELTAS = f"{FILEPATH}-deltas.csv"
FILENAME_LAMBDAS = f"{FILEPATH}-lambdas.csv"

In [8]:
df_deltas = pd.read_csv(FILENAME_DELTAS)
df_deltas

   alpha     delta
0  0.010  0.008716
1  0.025  0.005107
2  0.050  0.003510
3  0.075  0.002819
4  0.100  0.002388

In [9]:
df_lambdas = pd.read_csv(FILENAME_LAMBDAS)
df_lambdas

,Unnamed: 0,q0=0.005,q0=0.01,q0=0.015,q0=0.02,q0=0.025,q0=0.03,q0=0.035,q0=0.04,q0=0.045,q0=0.05
0,alpha=0.01,3.815792,1.907896,1.271931,0.953948,0.763158,0.635965,0.545113,0.476974,0.423977,0.381579
1,alpha=0.025,1.993259,0.996629,0.664420,0.498315,0.398652,0.332210,0.284751,0.249157,0.221473,0.199326
2,alpha=0.05,1.226181,0.613091,0.408727,0.306545,0.245236,0.204364,0.175169,0.153273,0.136242,0.122618
3,alpha=0.075,0.932006,0.466003,0.310669,0.233001,0.186401,0.155334,0.133144,0.116501,0.103556,0.093201
4,alpha=0.1,0.774410,0.387205,0.258137,0.193603,0.154882,0.129068,0.110630,0.096801,0.086046,0.077441