In [1]:
import pandas as pd
from Historic_Crypto import HistoricalData  # Uses coinbase pro API

# Get Data

Pull from Coinbase API

In [ ]:
df = HistoricalData('ETH-USD', 300,'2016-06-01-00-00').retrieve_data()
df.to_csv('csv/ETH-USD-300-20160601-20220824.csv')

Or read from CSV

In [5]:
df = pd.read_csv('../csv/ETH-USD-300-20160601-20220824.csv', index_col=0)

In [6]:
df.head()

                       low   high   open  close      volume
time
2016-06-01 00:00:00  14.15  14.18  14.15  14.18   35.206821
2016-06-01 00:05:00  14.16  14.16  14.16  14.16   36.402093
2016-06-01 00:10:00  14.00  14.12  14.12  14.11   40.854990
2016-06-01 00:20:00  13.98  14.10  14.10  13.98  244.776964
2016-06-01 00:30:00  13.87  14.00  14.00  13.87  155.823036

In [7]:
df.tail()

                         low     high     open    close       volume
time
2022-08-24 09:15:00  1636.89  1640.00  1639.25  1638.76   643.336227
2022-08-24 09:20:00  1637.70  1642.87  1638.68  1638.30  1077.099748
2022-08-24 09:25:00  1635.55  1638.51  1638.22  1637.99   812.387659
2022-08-24 09:30:00  1634.14  1638.37  1637.97  1634.68   805.469833
2022-08-24 09:35:00  1632.74  1636.22  1634.65  1634.14  1098.373920