In [1]:
import pandas as pd

In [2]:
FILEPATH = "../../csv/metrics/BTCUSD-600-20210401-20210630"

In [3]:
FILENAME_DELTAS = f"{FILEPATH}-deltas.csv"
FILENAME_LAMBDAS = f"{FILEPATH}-lambdas.csv"

In [4]:
df_deltas = pd.read_csv(FILENAME_DELTAS)
df_deltas

   alpha     delta
0  0.010  0.006661
1  0.025  0.003855
2  0.050  0.002630
3  0.075  0.002106
4  0.100  0.001783

In [5]:
df_lambdas = pd.read_csv(FILENAME_LAMBDAS)
df_lambdas

,Unnamed: 0,q0=0.005,q0=0.01,q0=0.015,q0=0.02,q0=0.025,q0=0.03,q0=0.035,q0=0.04,q0=0.045,q0=0.05
0,alpha=0.01,3.035023,1.517511,1.011674,0.758756,0.607005,0.505837,0.433575,0.379378,0.337225,0.303502
1,alpha=0.025,1.577171,0.788585,0.525724,0.394293,0.315434,0.262862,0.225310,0.197146,0.175241,0.157717
2,alpha=0.05,0.966006,0.483003,0.322002,0.241502,0.193201,0.161001,0.138001,0.120751,0.107334,0.096601
3,alpha=0.075,0.731508,0.365754,0.243836,0.182877,0.146302,0.121918,0.104501,0.091439,0.081279,0.073151
4,alpha=0.1,0.605654,0.302827,0.201885,0.151414,0.121131,0.100942,0.086522,0.075707,0.067295,0.060565