In [1]:
import pandas as pd

In [2]:
FILEPATH = "../../csv/metrics/BTCUSD-600-20210401-20210630"

In [3]:
FILENAME_MUS = f"{FILEPATH}-mu_maxs.csv"

In [4]:
df_mus = pd.read_csv(FILENAME_MUS)
df_mus

   alpha    mu_max
0  0.001  0.000087
1  0.010  0.000019
2  0.025  0.000011
3  0.050  0.000007
4  0.075  0.000006
5  0.100  0.000005