In [1]:
import pandas as pd

In [2]:
FILEPATH = "../../csv/metrics/NFTX-WETH-10mTWAP-20210115-20210630"

In [3]:
FILENAME_DELTAS = f"{FILEPATH}-deltas.csv"
FILENAME_LAMBDAS = f"{FILEPATH}-lambdas.csv"

In [4]:
df_deltas = pd.read_csv(FILENAME_DELTAS)
df_deltas

   alpha     delta
0  0.010  0.030742
1  0.025  0.012610
2  0.050  0.006373
3  0.075  0.004231
4  0.100  0.003136

In [5]:
df_lambdas = pd.read_csv(FILENAME_LAMBDAS)
df_lambdas

,Unnamed: 0,q0=0.005,q0=0.01,q0=0.015,q0=0.02,q0=0.025,q0=0.03,q0=0.035,q0=0.04,q0=0.045,q0=0.05
0,alpha=0.01,46.074842,23.037421,15.358281,11.518710,9.214968,7.679140,6.582120,5.759355,5.119427,4.607484
1,alpha=0.025,20.352740,10.176370,6.784247,5.088185,4.070548,3.392123,2.907534,2.544092,2.261416,2.035274
2,alpha=0.05,11.027522,5.513761,3.675841,2.756880,2.205504,1.837920,1.575360,1.378440,1.225280,1.102752
3,alpha=0.075,7.695105,3.847553,2.565035,1.923776,1.539021,1.282518,1.099301,0.961888,0.855012,0.769511
4,alpha=0.1,5.957603,2.978801,1.985868,1.489401,1.191521,0.992934,0.851086,0.744700,0.661956,0.595760