In [2]:
import pandas as pd
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px

In [4]:
import os
os.getcwd()

'/Users/anantdeepparihar/Overlay/overlay-risk/scripts'

# Get Data

Coinbase data (treated)

In [11]:
coin_df = pd.read_csv('risk_pipeline/outputs/data/ETH-BTC_2022-06-01-00-00_2022-10-31-00-00_600secs_treated.csv', index_col=0)

In [12]:
coin_df.head()

                  time     close
0  2022-06-01 00:00:00  0.061110
1  2022-06-01 00:10:00  0.061075
2  2022-06-01 00:20:00  0.060915
3  2022-06-01 00:30:00  0.060985
4  2022-06-01 00:40:00  0.061020

In [13]:
# invert close to match uni v3
coin_df.close = 1/coin_df.close

Uniswap data

In [14]:
uni_df = pd.read_csv('../csv/WBTC-WETH-10.0mTWAP-14881677-to-15864319.csv')

In [17]:
uni_df.head()

   Unnamed: 0            timestamp       twap
0           0  2022-06-01 00:01:54  16.335589
1           2  2022-06-01 00:11:54  16.345683
2           4  2022-06-01 00:21:54  16.351692
3          10  2022-06-01 00:31:54  16.361773
4          11  2022-06-01 00:41:54  16.366600